{% extends 'common/main_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/quiz.js') }}"></script>
{% endblock %}

{% block content_body %}

    <div class="container mt-5">
        <form id="quiz-form" action="" method="post">
            {% for question in questions %}
                {% set display = (loop.first) ? '' : 'd-none' %}
                <div class="question-container card {{ display }}">
                    <div class="card-body">
                        <div class="form-group">
                            <p>Вопрос № {{ loop.index }}: {{ question.text }}</p><br>
                            {% for answer in question.shuffleAnswers %}
                                <label>
                                    <input type="checkbox" name="answers[]" value="{{ answer.id }}">
                                </label> {{ answer.text }}<br>
                            {% endfor %}
                        </div>

                        {% if loop.last %}
                            <button id="submit-btn" type="submit" class="btn btn-primary">Закончить опрос</button>
                        {% else %}
                            <button  type="button" class="btn btn-primary next-btn">Дальше</button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('form_intention') }}">
        </form>
    </div>

{% endblock %}