{% extends 'common/main_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/quiz.js') }}"></script>
{% endblock %}

{% block content_body %}

    <div class="container mt-5">
        <div id="greeting" class="card">
            <div class="card-body">
                <h3>Добро пожаловать!</h3>
                <p>Пожалуйста, пройдите наш тест</p>
                <button id="start-btn" type="button" class="btn btn-primary">Начать тест</button>
            </div>
        </div>
        <form id="quiz-form" action="/quiz/process" method="post">
            {% for question in questions %}
                <div class="question-container card d-none">
                    <div class="card-body">
                        <div class="form-group">
                            <p>Вопрос № {{ loop.index }}: {{ question.text }}</p><br>
                            {% for answerVariant in question.shuffleAnswersVariants %}
                                <label>
                                    <input type="checkbox" name="answers[]" value="{{ answerVariant.id }}">
                                </label> {{ answerVariant.text }}<br>
                            {% endfor %}
                        </div>

                        {% if loop.last %}
                            <button id="submit-btn" type="submit" class="btn btn-primary">Закончить опрос</button>
                        {% else %}
                            <button type="button" class="btn btn-primary next-btn">Дальше</button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('form_intention') }}">
        </form>
        <div id="result-container" class="d-none"></div>
    </div>

{% endblock %}